body{
    background-color: aquamarine;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    text-align: center;
    font-size: 2em;
    color: #333;
}

.info{
    text-align: center;
    font-size: 1.2em;
    color: #555;
}

.pokeneaImg {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 10px;
}

.buttons{
    display: flex;
    width: 25%;
    justify-content: center;
    flex-wrap: wrap;
}

.button{
    display: block;
    width: 200px;
    margin: 20px auto;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}