<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <title>Incio</title>
</head>
<body>
    <div class="container">
        <div class="title">
            <h1>Pokedex</h1>
            <h2>Conoce la lista de Pokeneas - "Nacidos en Antioquia"</h2>
        </div>
        <div class="buttons">
            <a href="/pokedex/json" class="button">JSON de un Pokenea random</a>
            <a href="/pokedex/imageAndPhrase" class="button">Imágen y Frase de un Pokenea random</a>
        </div>
        <p>App ejecutandose en: <%= containerId %></p>
    </div>
</body>
</html>